footer {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: $btn-bg;
  color: white;

  h3 {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .footer-part-2 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h4 {
        font-size: 0.8em;
        font-weight: 500;
        text-transform: uppercase;
      }

      a {
        text-decoration: none;
        color: white;
        font-size: 0.6em;
        display: block;
      }
    }
  }

  .footer-part-3 {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    h4 {
      display: none;
    }
  }
}

@media (min-width: 600px) {
  footer {
    padding: 4rem 8rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .footer-part-2 {
      width: 50%;

      div {
        gap: 1rem;

        h4 {
          font-size: 1em;
        }

        a {
          font-size: 0.75em;
        }
      }
    }

    .footer-part-3 {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h4 {
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;
        display: initial;
      }
    }
  }
}
